<footer>
  <p>
    Project from
    <%= link_to "The Odin Project", "https://www.theodinproject.com/" %>.
  </p>
  <p>Made in 2025.</p>

  <div class="credits">
    <h4>Credits</h4>
    <ul>
      <li>
        <a href="https://www.flaticon.com/free-icons/stalker" title="stalker icons">
          Stalker icons created by Mihimihi - Flaticon
        </a>
      </li>
    </ul>
  </div>
</footer>
